@model Category
@{
    ViewBag.Title = "UpdateCategory";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Kategori Ekleme Sayfası
            </header>
            <div class="panel-body">
                <div class=" form form-control">
                
                    @using (Html.BeginForm("UpdateCategory", "AdminCategory", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.ID)

                        @Html.TextBoxFor(x => x.CategoryName, new { @class="form form-control"})<br />

                        @Html.TextBoxFor(x => x.Description, new { @class = "form form-control" })

                        <button class="btn btn-info">Kaydet</button>


                    }

                </div>

               

            </div>
        </section>
    </div>
</div>
